
form.search-form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 50%;
    background: #f1f1f1;
    border-radius: 10px 0px 0px 10px;
  }
  
  form.search-form button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #ffc107;
    border-radius: 0px 10px 10px 0px;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.search-form button:hover {
    background: #ffc107;
  }
  
  form.search-form::after {
    content: "";
    clear: both;
    display: table;
  }

  .card-custom {
    width : 50%;
  }

.card-text{
    font-size: 20px;
    color: rgb(216, 174, 47);
}